
<header id="header" class="header">
    <div class="left">
        <a routerLink="/home" aria-label="Murielle, site logo" class="site-name">
            <span>Murielle</span>
        </a>
    </div>
    
    <div class="spacer"></div>
    <nav class="right">
        <div class="menu-icon" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </div>
        <ul [class.show]="isMenuOpen || isLargeScreen">
            <li>
                <a href="#home" [attr.aria-current]="activeLink === 'home' ? 'page' : null" [ngClass]="{ 'active': activeLink === 'home' }" (click)="setActiveLink('home')">
                    <mat-icon class="menu-icon-small">home</mat-icon>
                    HOME
                </a>
            </li>
            <li>
                <a href="#about" [ngClass]="{ 'active': activeLink === 'about' }" (click)="setActiveLink('about')">
                    <mat-icon class="menu-icon-small">info</mat-icon>
                    ABOUT
                </a>
            </li>
            <li>
                <a href="#projects" [ngClass]="{ 'active': activeLink === 'projects' }" (click)="setActiveLink('projects')">
                    <mat-icon class="menu-icon-small">work</mat-icon>
                    PROJECTS
                </a>
            </li>
            <li>
                <a href="#contacts" [ngClass]="{ 'active': activeLink === 'contacts' }" (click)="setActiveLink('contacts')">
                    <mat-icon class="menu-icon-small">contact_mail</mat-icon>
                    CONTACT
                </a>
            </li>
            <li>
                <a href="#resume" [ngClass]="{ 'active': activeLink === 'resume' }" (click)="setActiveLink('resume')">
                    <mat-icon class="menu-icon-small">play_for_work</mat-icon>
                    RESUME
                </a>
            </li>
            <li>
                <a routerLink="/myBlog" [ngClass]="{ 'active': activeLink === 'myBlog' }" (click)="setActiveLink('myBlog')">
                    <mat-icon class="menu-icon-small"> notes</mat-icon>
                    BLOG
                </a>
            </li>
        </ul>
    </nav>
</header>



