<footer class="footer">
    <div class="footer-left">
      <p id="name">Murielle Mobou</p>
      <p>A fullstack developer</p>
      <p>Thanks for scrolling all the way down here!</p>
    </div>
    <div class="footer-right">
      <p id="name">Social</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/murielle-mobou-tachago-12154b210/" rel="noopener" target="_blank">
            <img src="LinkedIn.png" alt="LinkedIn icon" class="social-icon">
        </a>
        <a href="https://www.github.com" rel="noopener" target="_blank">
            <img src="github-mark.png" alt="GitHub icon" class="social-icon">
        </a>
      </div>
    </div>
  </footer>
