<div id="blog" class="blog">
    <div class="title">
        <h2>My Blog</h2>
        <p>My blog is the place where I think out loud. As I continue learning web development, I discovered the vast field of digital accessibility. This made me realize that my own portfolio wasn’t truly accessible. Since then, I’ve set myself the goal of learning and following WCAG 2.0 guidelines as much as possible to make it more inclusive. Join me on this journey toward a more accessible web for everyone.✨</p>
        <div class="section-heading">
            <div class="date-bar">
                <span class="section-heading-date">18th septembre 2025</span>
                <span class="section-heading-line"></span>
            </div>
            <h3 class="section-heading-title">Page title hierarchy</h3>
            <p class="section-heading-content">
                According to WCAG guidelines, it is essential to organize page headings in a logical and coherent manner to clearly structure the content. A page should start with an H1 representing the main title, followed by H2 for major sections, H3 for subsections, and so on, without skipping levels, to ensure a clear and understandable hierarchy. Each section should begin with an appropriate heading, which facilitates navigation, especially for users of screen readers, and allows the content’s organization to be quickly grasped. Maintaining this hierarchy consistently across the site improves accessibility and orientation. To ensure that the structure of my headings follows these best practices, I used the HeadingsMaps plugin, which allows you to instantly visualize the hierarchy of a page’s headings and verify its compliance.
            </p>
            <p class="section-heading-image">
                <img src="portfolio_headingsMap.png" alt="Screenshot showing the heading hierarchy of a page displayed with the HeadingsMap plugin">
            </p>
            <p class="image-caption">This capture with HeadingsMap helped me verify the correct hierarchy of my headings.</p>
        </div>
    </div>
</div>