.contacts, .resume {
    padding: 30px 20px;
    background-color: #f9f3f1;
  }

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-item a {
  text-decoration: none;
  color: #555;
}

.icon-img {
  max-width: 90px;
  max-height: 70px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.icon-download {
  width: 70px; 
  height: auto;
  cursor: pointer;
  display: block; 
  margin: 0 auto;
  animation: moveUpDown 2s infinite ease-in-out;
}

  @keyframes moveUpDown {
    0% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-10px); 
    }
    100% {
      transform: translateY(0); 
    }
  }

  #description, .contact-info {
    font-size: 20px;
    margin-bottom: 60px;
    text-align: center;
    color: #555;
  }

@media (max-width: 768px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
  }

  #description, .contact-info {
    font-size: 15px;
    margin-bottom: 60px;
    color: #555;
    text-align: center;
  }

  h2 {
    font-family: Helvetica, "Comic Sans MS", "Comic Sans", cursive;
  }

  .icon-img {
    max-width: 70px;
    max-height: 50px;
  }

  .contact-icons {
    gap: 20px;
  }

  .contacts, .resume {
    padding: 15px 20px;
  }
}

@media (max-width: 480px) {
  .contact-icons {
    flex-direction: column; 
    align-items: center;
    gap: 8px; 
  }

  .icon-img {
    max-width: 70px;
    max-height: 50px;
  }

}
