<section id="description" class="description">
    <!--div class="connect-box">
        <div class="star-icon">
            <span class="material-icons">star</span>
          </div>
        <p>Let's Connect</p>
        <p>You can find me on <a href="https://www.linkedin.com/in/murielle-mobou-tachago-12154b210/">LinkedIn</a> and <a href="https://github.com/MumuTach">GitHub</a></p>
      </div>
    <div class="small-screen-icons">
        <a href="https://www.linkedin.com/in/murielle-mobou-tachago-12154b210/" rel="noopener" target="_blank">
            <img src="LinkedIn.png" alt="LinkedIn" class="social-icon">  
        </a>
        <a href="https://github.com/MumuTach" rel="noopener" target="_blank">
            <img src="github-mark.png" alt="GitHub" class="social-icon">
        </a>
    </div-->
    <div class="content-wrapper">
      <div class="image-container">
        <img src="design-computer.png" alt="My work consists of my computer and a nice cup of coffee to warm me up.">
      </div>
      <div class="text-container">
        <span id="greetings">Hi, my name is <span id="name">Murielle</span> <span class="material-icons yellow-icon">waving_hand</span></span>
        <h1 id="animated-text">{{ animatedText }}</h1>
        <div class="learn-more">
            <a href="#about">
              Learn more <span class="arrow">➔</span>
            </a>
          </div>
      </div>
    </div>
  </section>
