<section id="projects" class="projects">
    <div class="main-container">
        <h2>PROJECTS</h2>
        <p id="description">Here you will find some of the personal projects that I created with each project containing its own case study.</p>
        <div class="projects__row">
            <div class="projects__row-img-cont">
                <img
                    src="computer.jpeg"
                    alt="Software Screenshot"
                    class="projects__row-img"
                    loading="lazy"
                />
                <div class="image-container">
                    <img src="DevFolio.png" alt="Inserted Image" class="inserted-image">
                  </div>
            </div>

            <div class="projects__row-content">
                <h3 class="projects__row-content-title">DevFolio</h3>
                <p class="projects__row-content-desc">
                    This project is my personal portfolio, which I developed using Angular and TypeScript for the frontend, and Express.js and JavaScript for the backend. The objective of this project is to provide more information about me and showcase some of my personal achievements. Click on "Code" to learn more about this project.
                </p>
                <div class="button-row">
                    <button mat-raised-button>
                        <a href="https://github.com/MumuTach/DEVFOLIO.git" target="_blank" rel="noopener">
                            Code
                        </a>
                    </button>
                    <button mat-raised-button>
                        <a href="murielledev.com" target="_blank" rel="noopener">
                            Demo
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <div class="projects__row">
            <div class="projects__row-img-cont">
                <img
                    src="computer.jpeg"
                    alt="Software Screenshot"
                    class="projects__row-img"
                    loading="lazy"
                />
                <div class="image-container">
                    <img src="todoApp.png" alt="Inserted Image" class="inserted-image">
                  </div>
            </div>

            <div class="projects__row-content">
                <h3 class="projects__row-content-title">My ToDo App</h3>
                <p class="projects__row-content-desc">
                    MyToDoListApp is an intuitive web application designed to help users easily manage their daily tasks. This "to-do list" app is built with Angular on the frontend and Spring Boot on the backend, providing a smooth task management experience, notifications, and a user-friendly interface.
                </p>
                <div class="button-row">
                    <button mat-raised-button>
                        <a href="https://github.com/MumuTach/My-ToDo-List-App.git" target="_blank" rel="noopener">
                            Code
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <div class="projects__row">
            <div class="projects__row-img-cont">
                <img
                    src="computer.jpeg"
                    alt="Software Screenshot"
                    class="projects__row-img"
                    loading="lazy"
                />
                <div class="image-container">
                    <img src="camia.png" alt="Inserted Image" class="inserted-image">
                  </div>
            </div>
            <div class="projects__row-content">
                <h3 class="projects__row-content-title">Camia</h3>
                <p class="projects__row-content-desc">
                    Camia is a website for selling baby posters titled "Mes premières fois" that I created using Wix. 
                    This project allowed me to develop a simple and intuitive platform where parents can personalize and order unique posters to celebrate their child's first milestones.
                </p>
                <div class="button-row">
                    <button mat-raised-button>
                        <a href="https://github.com/MumuTach/CamiaLovingBabies" target="_blank" rel="noopener">
                            Demo
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <div class="projects__row">
            <div class="projects__row-img-cont">
                <img
                    src="computer.jpeg"
                    alt="Software Screenshot"
                    class="projects__row-img"
                    loading="lazy"
                />
                <div class="image-container">
                    <img src="funny.png" alt="Inserted Image" class="inserted-image">
                  </div>
            </div>
            <div class="projects__row-content">
                <h3 class="projects__row-content-title">Funny VR Games</h3>
                <p class="projects__row-content-desc">
                    This project is a virtual reality store website using Wix, where users can easily reserve spots online and find all the information they need about the store. 
                    This project allowed me to create an engaging and user-friendly platform, combining a sleek design with functional booking and informational features.
                </p>
                <div class="button-row">
                    <button mat-raised-button>
                        <a href="https://www.funnyvrgames.ca" target="_blank" rel="noopener">
                            Demo
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


