<section id="skills" class="skills">
    <h2>MY SKILLS</h2>
    <p id="description">Here is a comprehensive overview of my skills, showcasing my expertise and proficiency in various domains.</p>
    <div class="skills-container">
      <div class="skill">
        <img src="java.png" alt="Java">
        <div class="progress-container">
          <p class="skill-title">Java</p>
          <div class="progress-title-container">
              <p class="skill-level">Advanced</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 75%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="C.png" alt="C#">
        <div class="progress-container">
          <p class="skill-title">C#</p>
          <div class="progress-title-container">
              <p class="skill-level">Intermediate</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 50%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="C++.png" alt="C++">
        <div class="progress-container">
          <p class="skill-title">C++</p>
          <div class="progress-title-container">
              <p class="skill-level">Advanced</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 75%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="AWS-skill.png" alt="AWS">
        <div class="progress-container">
          <p class="skill-title">AWS</p>
          <div class="progress-title-container">
              <p class="skill-level">Intermediate</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 50%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="express.png" alt="Express JS">
        <div class="progress-container">
          <p class="skill-title">Express JS</p>
          <div class="progress-title-container">
              <p class="skill-level">Beginner</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 25%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="git.png" alt="Git">
        <div class="progress-container">
          <p class="skill-title">Git</p>
          <div class="progress-title-container">
              <p class="skill-level">Advanced</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 75%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="docker.png" alt="Docker">
        <div class="progress-container">
          <p class="skill-title">Docker
          <div class="progress-title-container">
              <p class="skill-level">Intermediate</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 50%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="postgre.png" alt="Postgre">
        <div class="progress-container">
          <p class="skill-title">Postgre SQL</p>
          <div class="progress-title-container">
              <p class="skill-level">Advanced</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 75%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="mysql.png" alt="MySql">
        <div class="progress-container">
          <p class="skill-title">MySQL</p>
          <div class="progress-title-container">
              <p class="skill-level">Advanced</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 75%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="Angular.png" alt="Angular">
        <div class="progress-container">
          <p class="skill-title">Angular
          <div class="progress-title-container">
              <p class="skill-level">Advanced</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 75%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="Typescript.png" alt="Typescript">
        <div class="progress-container">
          <p class="skill-title">Typescript</p>
          <div class="progress-title-container">
              <p class="skill-level">Advanced</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 75%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="javascript.png" alt="Javascript">
        <div class="progress-container">
          <p class="skill-title">Javascript</p>
          <div class="progress-title-container">
              <p class="skill-level">Advanced</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 75%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="html.png" alt="HTML5">
        <div class="progress-container">
          <p class="skill-title">HTML5</p>
          <div class="progress-title-container">
              <p class="skill-level">Advanced</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 75%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="css.png" alt="CSS3">
        <div class="progress-container">
          <p class="skill-title">CSS3</p>
          <div class="progress-title-container">
              <p class="skill-level">Advanced</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 75%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="wix.png" alt="WIX">
        <div class="progress-container">
          <p class="skill-title">WIX</p>
          <div class="progress-title-container">
              <p class="skill-level">Intermediate</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 50%;"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="skill">
        <img src="postman.png" alt="Postman">
        <div class="progress-container">
          <p class="skill-title">Postman</p>
          <div class="progress-title-container">
              <p class="skill-level">Intermediate</p>
              <div class="progress-bar">
                  <div class="progress" style="width: 50%;"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>