<section class="certification">
    <h2>COURSES AND CERTIFICATIONS</h2>
    <p id="description">Here are some of the courses and certifications I have completed to improve my skills and stay updated with the latest technologies.</p>
    <div class="certification-container">
      <a href="AWS.pdf" target="_blank">
        <img src="AWS.png" alt="Certification 2" class="certification-thumbnail">
      </a>
      <a href="Azure.pdf" target="_blank">
        <img src="Azure.jpg" alt="Certification 3" class="certification-thumbnail">
      </a>
      <a href="Anglais.pdf" target="_blank">
        <img src="Anglais.png" alt="Certification 3" class="certification-thumbnail">
      </a>
    </div>
  </section>
