<section id="contacts" class="contacts">
    <div class="container">
      <h2>CONTACT ME</h2>
      <p id="description">Got a question or proposal, or just want
        to say hello? Go ahead.</p>
      <div class="contact-icons">
        <div class="contact-item">
          <img src="phone.png" alt="Phone" class="icon-img">
          <p class="contact-info">+1 825-747-5559</p>
        </div>  
        <div class="contact-item">
          <a href="mailto:moboutachago@yahoo.fr">
            <img src="email_contact.png" alt="Email" class="icon-img">
            <p class="contact-info">moboutachago&#64;yahoo.fr</p>
          </a>
        </div>  
        <div class="contact-item">
          <img src="linkedIn_contact.png" alt="linkedIn" class="icon-img">
          <p class="contact-info"><a href="https://www.linkedin.com/in/yourprofile" target="_blank" rel ='noopener'>LinkedIn</a></p>
        </div>
      </div>
    </div>
    <a id="contacts"></a>
  </section>

  <section id="resume" class="resume">
    <div class="container">
      <h2>VIEW MY RESUME</h2>
      <a href="MonCV_PortFolio.pdf" download>
        <img src="download.png" alt="Télécharger mon CV" class="icon-download">
      </a>
    </div>
  </section>

