.about,.Reading {
    background-color: #f9f3f1;
    padding: 60px 20px;
    position: relative;
  }

  .about::after {
    content: "";
    display: block;
    width: 100%;
    border-top: 4px dashed black;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .about h2, .Reading h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

 #description {
    font-size: 20px;
    margin-bottom: 60px;
    text-align: center;
    color: #555;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .component {
    background-color: white;
    border: 2.5px solid rgb(73, 72, 72);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1 1 calc(32% - 40px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .component:nth-child(odd) {
    margin-top: 90px;
    margin-bottom: -10px;
 }

  .component-header h3 {
    font-size: 22px;
    margin-top: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
  .component-body p {
    font-size: 15px;
    color: #555;
  }

  .component-header::after {
    content: "";
    display: block;
    border: 2px solid rgb(73, 72, 72);
    width: calc(100% - 40px);
    position: absolute;
    top: 42px;
}

.component-header::before {
    content: "● ● ●";
    position: absolute;
    top: 0;
    margin: 0;
    font-size: 30px;
    color: #d9534f;
}
  .reading-body {
    font-size: 15px;
    color: #555;
    flex: 1;
    width: 100%;
  }

  .reading-body p {
    width: 100%; 
    margin: 0; 
  }

  .Reading::after {
    content: "";
    display: block;
    width: 100%;
    border-top: 4px dashed black;
    position: absolute;
    bottom: 0;
    left: 0;
  }

 .reading-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
.reading-footer a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
  }

.reading-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.text-div {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2.5px solid rgb(213, 190, 59);
  border-radius: 10px;
  padding: 20px;
  flex: 1 1 calc(32% - 40px); 
  width: 100%; 
  margin: 10px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  transition: color 0.3s;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-div::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 0;
  background-color: black;
  transition: height 0.3s ease-out, background-color 0.3s;
  border-radius: 10px;
}

.text-div:hover::after {
  height: 100%; 
  border-radius: 10px;
  background-color: rgb(213, 190, 59); 
  z-index: -1;
}

.text-div:hover {
  background-color: rgb(213, 190, 59);
  transition: color 0.3s; 
}

.text-div:hover p, .text-div:hover a {
  color: white;
}


.text-div:hover:nth-child(odd) p, .text-div:hover:nth-child(odd) a {
  color: white;
}

.text-title {
  font-size: 20px;
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  .about-content {
      flex-direction: column;
  }

  .component {
      position: relative;
      margin:auto;
  }

  #description {
    font-size: 15px;
    margin-bottom: 50px;
  }

  .component:nth-child(odd) {
    margin-top: 0px;
    margin-bottom: 0px;
 }

  .text-div {
    flex: 1 1 calc(48% - 40px);
    margin: 10px; 
  }

  .reading-body, .reading-footer a{
    font-size: 13px;
  }

  .text-title {
    font-size: 18px;
  }

  .about h2, .Reading h2, .skills h2 {
    font-family: Helvetica, "Comic Sans MS", "Comic Sans", cursive;
  }
}

@media (max-width: 768px) {
  .text-div {
    flex: 1 1 calc(48% - 40px);
    margin: 10px; 
  }

  .Reading h2, .skills h2, .about h2 {
    font-family: "Helvetica";
  }

  .component-header h3 {
    font-family: "Helvetica";
  }

  .text-title {
    font-family: "Helvetica";
  } 
}