<section id="about" class="about">
    <h2>ABOUT ME</h2>
    <p id="description">Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology</p>
    <div class="about-content">
        <div class="component">
          <div class="component-header">
            <h3>Frontend</h3>
          </div>
          <div class="component-body">
            <p>I transform concepts into intuitive interfaces. My credo is to fuse beauty and functionality for memorable user experiences. But that's not all! 🎨 I'm also very interested in UX/UI design, which I'm learning in my spare time.</p>
          </div>
        </div>
    
        <div class="component">
          <div class="component-header">
            <h3>Backend</h3>
          </div>
          <div class="component-body">
            <p>The backend is my favorite part of fullstack development. I have an unbridled passion for everything that goes on behind the scenes of an application. My playground? RESTful APIs, scalability and application security.
              But there's more! 🌟 I'm a fan of good development practices, microservices architectures, and deployment automation.</p>
          </div>
        </div>
    
        <div class="component">
          <div class="component-header">
            <h3>Other</h3>
          </div>
          <div class="component-body">
            <p>Outside the code, you'll probably find me devouring a mystery novel, playing Scrabble or traveling. I also enjoy spending time with family and friends.</p>
          </div>
        </div>
      </div>
</section>

<app-skills></app-skills>

<section class="Reading">
  <h2>READING & INTEREST</h2>
  <p id="description">Here is a glimpse into my reading preferences and interests, showcasing what inspires and motivates me.</p>
  <div class="reading-container">
    <div class="text-div">
      <h3 class="text-title">Accessibility Journey</h3>
      <div class="reading-body">
        <p>After a digital accessibility training, I tested my portfolio with NVDA… and to my surprise, it wasn’t accessible at all 😅. I decided to take it on as a personal challenge: making it more inclusive step by step, following WCAG best practices.</p>
      </div>
      <div class="reading-footer">
        <span></span>
        <a href="/myBlog" routerLink="/myBlog">Read more ➔</a>
      </div>
    </div>
    <div class="text-div">
      <h3 class="text-title">AWS Training and Certification ☁️</h3>
      <div class="reading-body">
        <p>I've recently been curious to discover the world of the cloud. So I started documenting myself and took an AWS certification, which helped me improve my cloud skills. </p>
      </div>
      <div class="reading-footer">
        <span></span>
        <a href="https://explore.skillbuilder.aws/learn/course/external/view/elearning/134/aws-cloud-practitioner-essentials">Read more ➔</a>
      </div>
    </div>
    <div class="text-div">
      <h3 class="text-title">What a computer outage can cause ✈️</h3>
      <div class="reading-body">
        <p>Thousands of flights have been canceled after a worldwide internet outage hit many leading airlines.</p>
      </div>
      <div class="reading-footer">
        <span></span>
        <a href="https://www.cnn.com/2024/07/19/business/delta-american-airlines-flights-outage-intl-hnk/index.html">Read more ➔</a>
      </div>
    </div>
    <div class="text-div">
      <h3 class="text-title">Microservice architecture vs modular architecture 🔧</h3>
      <div class="reading-body">
        <p>This article helped me to know the real difference between microservice architecture and modular architecture.</p>
      </div>
      <div class="reading-footer">
        <span></span>
        <a href="https://www.developer-tech.com/news/microservice-architecture-vs-modular-architecture/">Read more ➔</a>
      </div>
    </div>
    <div class="text-div">
      <h3 class="text-title">Tips for getting your dream job 📝</h3>
      <div class="reading-body">
        <p>As a young developer looking for a job. I found this LinkedIn post very interesting. What do you think of it?</p>
      </div>
      <div class="reading-footer">
        <span></span>
        <a href="https://www.linkedin.com/posts/hugocolusso_si-tu-postules-comme-tout-le-monde-tu-auras-activity-7222509289003782144-zLNz?utm_source=share&utm_medium=member_desktop">Read more ➔</a>
      </div>
    </div>
    <div class="text-div">
      <h3 class="text-title">The danger of endocrine disruptors 🌿</h3>
      <div class="reading-body">
        <p>Did you know that most dangerous pathologies, such as cancer and infertility, are caused by endocrine disruptors? One of my current battles is to watch out for endocrine disruptors.</p>
      </div>
      <div class="reading-footer">
        <span></span>
        <a href="https://www.cancer-environnement.fr/fiches/expositions-environnementales/perturbateurs-endocriniens/">Read more ➔</a>
      </div>
    </div>
  </div>
</section>

<app-certifications></app-certifications>


