<section id="home" class="home">
    <div class="connect-box">
        <div class="star-icon">
            <span class="material-icons">star</span>
          </div>
        <h3>Let's Connect</h3>
        <p>You can find me on <a href="https://www.linkedin.com/in/murielle-mobou-tachago-12154b210/">LinkedIn</a> and <a href="https://github.com/MumuTach">GitHub</a></p>
      </div>
    <div class="small-screen-icons">
        <a href="https://www.linkedin.com/in/murielle-mobou-tachago-12154b210/" rel="noopener" target="_blank">
            <img src="LinkedIn.png" alt="LinkedIn" class="social-icon">  
        </a>
        <a href="https://github.com/MumuTach" rel="noopener" target="_blank">
            <img src="github-mark.png" alt="GitHub" class="social-icon">
        </a>
    </div>
    <div class="content-wrapper">
      <div class="image-container">
        <img src="design-computer.png" alt="Description of image">
      </div>
      <div class="text-container">
        <h2>Hi, my name is <span id="name">Murielle</span> <span class="material-icons yellow-icon">waving_hand</span></h2>
        <p id="animated-text">{{ animatedText }}</p>
        <div class="learn-more">
            <a href="#about">
              Learn more <span class="arrow">➔</span>
            </a>
          </div>
    </div>
    </div>
  </section>
